body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.form-container {
    margin:0 auto;
    padding:0px;
}

.task-row {
    vertical-align: central;
}

.task-layout {
    background-color: #CCC;
    padding-right: 17px;
    padding-left: 17px;
    overflow: auto;
    height:288px;
    width:600px;
    border: solid 1px #FFF;
}

.task-layout hr{
  clear: both; 
  float: none; 
  width: 100%; 
  height: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none; 
  background: #DDD;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}

.task {
    height: 40px;
    margin-top: 15px;
 
}
.task-content {
    color: #000000;
    text-align: left;
    padding-left: 10px;
    vertical-align:central;
}

.task-content #input {
    background-color: #E0E0E0;
    color: #000000;
}

.task-content input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 2px;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}
.task-content .btn-task-remove {
    border:1px solid #B6B6B6;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
     border-radius:4px;
     float: right;
     margin-right: 10px;
     height: 24px;
     background-color: #E6E6E6;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
     background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
     background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
     background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
     background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
     background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}
.task-content .btn-task-remove:hover{
     border:1px solid #B3B3B3;
    background-color: #CDCDCD; background-image: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#b3b3b3));
     background-image: -webkit-linear-gradient(top, #cdcdcd, #b3b3b3);
     background-image: -moz-linear-gradient(top, #cdcdcd, #b3b3b3);
     background-image: -ms-linear-gradient(top, #cdcdcd, #b3b3b3);
     background-image: -o-linear-gradient(top, #cdcdcd, #b3b3b3);
     background-image: linear-gradient(to bottom, #cdcdcd, #b3b3b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cdcdcd, endColorstr=#b3b3b3);
}