<div class="task-layout">
    <div class="row task-row" ng-repeat="task in tasks">
        <div class="task">
            <div class="task-content">
                <span>
                    <input type="checkbox" ng-model="task.complete" checked="tasks[{{$index}}].complete">
                </span>
                <span ng-class="task.complete ? 'complete' : 'open'" ng-click="complete($index)">{{task.name}} {{task.complete}}</span>
                <button class="btn-default btn-task-remove" ng-click="delete($index)">Remove</button>
            </div>
        </div>
        <hr/>
    </div>
</div>
