<div class="task-layout">
    <div class="row task-row" ng-repeat="task in tasks">
        <div class="task">
            <div class="task-content">
                <span>
                    <input id="taskComplete" type="checkbox" ng-checked="{{task.complete}}">
                </span>
                <span>{{task.name}}</span>
                <button class="btn-default btn-task-remove" ng-click="delete($index)">Remove</button>
            </div>
        </div>
        <hr/>
    </div>
</div>
